.browse-summaries-wrapper {
    display: flex;
    flex-direction: row;

    gap: 0.2em;
}

.browse-summaries-wrapper>div {
    box-sizing: border-box;
    flex: 1 1 0;
    overflow:visible;
    width: 0;
    max-width: 400px;
}

@media (max-width: 75rem) {
    .browse-summaries-wrapper {
        flex-direction: column;
    }
    .browse-summaries-wrapper>div {
        width: 100%;
    }
}