.settings-user-settings-form {
    display: flex;
    flex-direction: column;

    width: min(100%, 500px);
    margin: 0 auto;

    gap: 0.5em;
}

.settings-user-settings-row {
    display: flex;
    flex-direction: row;

    background-color: var(--clr-bg-4);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;

    align-content: center;
    align-items: center;
}

.settings-user-settings-row>label {
    flex-grow: 1;
}