.home-summary-summaries-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
}

.home-summary-table {
    border-collapse: collapse;
}

.home-summary-table th{
    color: var(--clr-accent-1);
    border-bottom: solid var(--clr-accent-1) 1px;
    font-size: 1.25em;
    padding: 1em;
}

.home-summary-table-date, .home-summary-table-gross, .home-summary-table-net {
    text-align: right;
    border-bottom: solid var(--clr-border-1) 1px;
    padding: 1em 2em;
}

.home-summary-table-button {
    padding: 0 1em;
}

.home-summary-totals {
    width: fit-content;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.home-summary-totals div{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: right;
}

@media (max-width: 1000px) {
    .home-summary-summaries-container {
        flex-direction: column;
    }

    .home-summary-totals {
        width: 400px;
    }

    .home-summary-table-date, .home-summary-table-gross, .home-summary-table-net {
        padding: 0.5em 1em;
    }   
}