@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Koulen');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Remove arrows from number inputs */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
    --clr-form-background: #1C1F22;
    --clr-bg-1: #121416;
    --clr-bg-2: #1C1F22;
    --clr-bg-3: #25292D;

    --clr-text-1: #FFFFFC;

    --clr-accent-1: #01BAEF;
    --clr-accent-2: #FFFFFC;

    --clr-border-1: #FFFFFC;
}

html {
    background-color: var(--clr-bg-1);
    color: var(--clr-text-1);
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--clr-accent-1);
    font-family: 'Lato', sans-serif;
}

a:hover, a:focus {
    color: var(--clr-accent-2);
}

button {
    font-family: 'Lato', sans-serif;
}

.main-wrapper {
    box-sizing: border-box;
    padding: 4em 2em 2em 2em;
    margin: 0 auto;
    width: 1000px;
    background-color: var(--clr-bg-2);
    min-height: 100vh;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Koulen', sans-serif;
}

h1, h2 {
    text-align: center;
}

h1, h2, h3 {
    color: var(--clr-accent-1);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
    color: var(--clr-accent-1);
}

h5 {
    font-size: 1.4rem;
    color: var(--clr-accent-1);
}

.text-color {
    color: var(--clr-text-1);
}

.bordered {
    border-radius: 0.5em;
    border: solid var(--clr-border-1) 3px;
}

.padded {
    padding: 1rem;
}

.margined {
    margin: 1rem 0;
}

.hide-me {
    visibility: hidden;
}

@media (max-width: 1000px) {

    html {
        background-color: var(--clr-bg-2);
    }

    .main-wrapper {
        width: 100%;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
}