@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Koulen');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* Remove arrows from number inputs */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {
    --clr-form-background: #1C1F22;
    --clr-bg-1: #707B65;
    --clr-bg-2: #FBFCFF;
    --clr-bg-3: #9AA38F;
    --clr-bg-4: #f5ecec;

    --clr-text-1: #5D4846;

    --clr-header-1: #0B0A07;

    --clr-accent-1: #FDAD0D;
    --clr-accent-2: #2F8789;

    --clr-border-1: #E3DBDB;
    --clr-border-2: #2F8789;
}

html {
    
    color: var(--clr-text-1);
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
    height: 100%;
}

main, body {
    margin: 0;
    padding: 0;
}

input {
    min-width: 0;
}

.input-number {
    text-align: right;
}

body {
    background-image: linear-gradient(var(--clr-bg-1), var(--clr-bg-3));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: var(--clr-accent-1);
    font-family: 'Lato', 'Noto Sans KR', sans-serif;
}

a, .header-link {
    color: var(--clr-accent-1);
}

a:hover, a:focus, .header-link:hover, .header-link:focus {
    color: var(--clr-accent-2);
}

button {
    font-family: 'Lato', 'Noto Sans KR', sans-serif;

    background-color: var(--clr-accent-1);
    color: var(--clr-header-1);
    border-color: var(--clr-header-1);
    border-style:solid;
    border-width: 2px;
    padding: 0.1em 0.5em 0.2em 0.5em;

    font-size: 1.2rem;

    margin: 0 auto;

    user-select: none;
}

button:disabled {
  background-color: var(--clr-bg-4);
  color: var(--clr-bg-1);
  border-color: var(--clr-bg-1);
}

button:disabled {
  pointer-events: none;
}

button:active {
    background-color: var(--clr-accent-2);
    color: var(--clr-bg-2);
}

.main-wrapper {
    box-sizing: border-box;
    padding: 4em 2em 2em 2em;
    margin: 0 auto;
    width: min(1400px, 100%);
    background-color: var(--clr-bg-2);
    min-height: 100vh;
    box-shadow: 5px 5px 5px var(--clr-header-1), -2px 5px 10px var(--clr-header-1);
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

h1 {
    font-family: 'Koulen', 'Noto Sans KR', sans-serif;
}
h2, h3, h4, h5, h6, .header-link {
    font-family: 'Oswald', 'Noto Sans KR', sans-serif;
}

h1, h2 {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--clr-header-1);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.4rem;
}

.text-color {
    color: var(--clr-text-1);
}

.bordered {
    border-radius: 0.5em;
    border: solid var(--clr-border-1) 3px;
}

.padded {
    padding: 1rem;
}

.margined {
    margin: 1rem 0;
}

.hide-me {
    visibility: hidden;
}

.centered {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.tooltip {
    position: relative;
    display: inline-block;
  }

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--clr-bg-2);
    color: var(--clr-text-1);
    box-shadow: 2px 2px 2px var(--clr-header-1);
    text-align: center;
    padding: 0.25em;
   
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.link-style-button {
    border-style: none;
    background-color: transparent;
    color: var(--clr-accent-1);
    cursor: pointer;

    padding: 0;
    margin: 0;
}

.link-style-button:hover {
    color: var(--clr-accent-2);
}

.link-style-button:active {
    background-color: transparent;
    color: var(--clr-accent-2);
}

.small {
    font-size: 1rem;
}

.large {
    font-size: 1.3rem;
    font-weight: bold;
}

.warning-text {
    color: #E01010;
}

.date-input {
    color: white;
    background-color: black;
    border-radius: 0.25em;
}

.border-bottom {
    border-bottom: 2px solid var(--clr-border-1);
}

.large-margin-top {
    margin-top: 2em;
}

@media (max-width: 60rem) {

    html {
        background-color: var(--clr-bg-2);
    }

    .main-wrapper {
        width: 100%;
        padding: 5em 0.2em 1em 0.2em;
    }

    .section-wrapper {
        
    }
}